aerich==0.5.3
aiosqlite==0.16.1
asyncpg==0.22.0
asynctest==0.13.0
attrs==20.3.0
Authlib==0.15.3
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
ddlparse==1.9.0
dictdiffer==0.8.1
fastapi==0.63.0
h11==0.12.0
httpcore==0.13.2
httpx==0.18.1
idna==2.10
iniconfig==1.1.1
iso8601==0.1.14
itsdangerous==1.1.0
packaging==20.9
passlib==1.7.4
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.10.0
pycparser==2.20
pydantic==1.8.1
PyJWT==2.1.0
pyparsing==2.4.7
pypika-tortoise==0.1.0
pytest-asyncio==0.15.1
pytz==2020.5
requests==2.25.1
rfc3986==1.4.0
six==1.15.0
sniffio==1.2.0
starlette==0.13.6
toml==0.10.2
tornado==6.1
tortoise-orm==0.17.2
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
